* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #494949;

  h1 {
    color: aliceblue;

    margin-top: 40px;
  }
  .container {
    .noteWrite {
      display: flex;
      width: 100vh;
      //margin-left: 33%;
      margin: auto;
      margin-top: 20px;

      .btnAdd {
        margin-left: 10px;
        border-radius: 3px;
        width: 100px;
        padding: 7px;
        font-size: larger;
        color: aliceblue;
        background-color: darkcyan;
      }
      input {
        padding: 10px;
        width: 400px;
      }
    }
    .noteList {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      .note {
        position: relative;
        text-indent: 5px;
        display: flex;
        justify-content: space-between;
        line-height: 40px;
        height: 40px;
        width: 710px;
        margin: 5px auto;
        border-radius: 5px;
        background-color: lightslategrey;
        .delete {
          width: 50px;
          height: 40px;
          font-size: 20px;
          background-color: red;
          color: aliceblue;
          border-radius: 5px;
          //z-index :2;
        }
        
          
        }
      }
    }
  }

