*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color: rgb(51, 66, 66);
}
.container{
    margin : 40px auto;
    width: 600px;
    height:600px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 3fr 1.2fr 2.2fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "screen screen screen"
    "leftSide middle rightSide"
    "info info info"
    "info2 info2 info2"
    ;
    .screen{
        height: 200px;
        grid-area: screen;
        background-color: rgb(204, 216, 216);
        border-radius: 7px;
        margin: 0px 15px 10px 15px ;
    }
    .leftSide{
        display:grid;
        margin: 0 auto;
        grid-template-columns: 30px 30px;
        grid-template-rows: repeat(5, 30px);
        grid-gap: 5px;       
        grid-area: leftSide;
    }
    .middle{
        display:grid;
        margin: 0 auto;
        grid-template-columns: repeat(10, 30px);
        grid-template-rows: repeat(5, 30px);
        grid-gap: 5px;
        grid-area: middle;
       
    }
    .rightSide{
        display:grid;
        margin: 0 auto;
        grid-template-columns: 30px 30px;
        grid-template-rows: repeat(5, 30px);
        grid-gap: 5px;
        grid-area: rightSide;
        
    }
    .info{
        grid-area: info;
        margin: 0 auto;
    }
    .btn{
        color: white;
        border-radius: 5px;
        padding: 5px;

    }
    #btnPay{
        background-color: green;
        
    }
    #btnReject{
        background-color: red;
    }
    .info2{
        display: flex;
        justify-content: space-between;
        grid-area: info2;
    }
    .seat{
        //height: 30px;
        //width: 30px;
        text-align: center;
        line-height: 30px;
        margin :auto;
        //background-color: gainsboro;
        //border-radius: 5px;
    }
    .btnSeat{
        height: 30px;
        width: 30px;
        border-radius: 5px;
    }
    .txt{
        color:whitesmoke;
    }
    .txtRed{
        color: white;
        //text-decoration: underline;
    }
}