* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-image: url("./media/background.jpg");
    //background-position: center;
    background-repeat: no-repeat;
}

.pad{
    padding: 5px;
    color: antiquewhite;
    font-weight: bold;
}
.pad2{
    padding: 3px 5px;
}

.btnModal{
    position: absolute;
    top: 50%;
    right: 45%;
    z-index: -1;
}
.btn {
  padding: 3px 10px;
  margin-top: 10px;
  background-color: #121149;
  border-radius: 5px;
  color: aliceblue;
  transition: all 0.5s ease;  
  &:hover {
    background-color: rgb(14, 89, 163);
    cursor: pointer;
    box-shadow: 5px 5px 15px #a8a7a7;
  }
  
}
.modal{
    display:none;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    .modalPanel{
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-color: #273b7a;
        border-radius: 5px;
        box-shadow: 5px 5px 15px #7e7c7c;
        padding: 10px;
        img{
            margin-top: 10px;
        }
    }
}

