*{
    box-sizing: border-box;
    margin: 0px;
    padding:0;
}
.calculator {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin: 20px;
    width: 275px;
    height: auto;
    background-color:darkolivegreen;
    display: grid;
    gap: 5px;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
    grid-template-areas: 
    "A A A B"
    "C D E F"
    "G H I J"
    "K L M N"
    "O P R S" ;

    .btn{
        border-radius: 3px;
        width: 100%;
        height: 100%;
        font-size: 15px;
        &:hover{
            color: white;
        }
       
    }
    .num1{
        grid-area: K;
    }
    .num2{
        grid-area: L;
    }
    .num3{
        grid-area: M;
    }
    .num4{
        grid-area: G;
    }
    .num5{
        grid-area: H;
    }
    .num6{
        grid-area: I;
    }
    .num7{
        grid-area: C;
    }
    .num8{
        grid-area: D;
    }
    .num9{
        grid-area: E;
    }
    .num0{
        grid-area: O;
    }
    .plus{
        grid-area: S;
    }
    .minus{
        grid-area: N;
    }
    .multiple{
        grid-area: J;
    }
    .divide{
        grid-area: F;
    }
    .clear{
        grid-area: B;
        background-color:tomato;
    }
    .equal{
        grid-area: R;
        background-color: yellow;
    }
    .dot{
        grid-area: P;
    }
    #input {
        grid-area: A;
        width: 190px;
        height: 100%;
        margin-right: 10px;
        font-size: 20px;
        text-align: right;

    }
    .operant{
        background-color:cornflowerblue;
        &:hover{
            background-color: darkblue;
            
        }
    }

}

